@import 'mapbox-gl/dist/mapbox-gl.css';
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --primary-rgb: 20, 184, 166;
  --secondary-rgb: 245, 158, 11;
}

@layer utilities {
  .glass-card {
    @apply bg-white/70 backdrop-blur-lg border border-white/40 shadow-[0_8px_32px_0_rgba(31,38,135,0.07)] hover:shadow-[0_8px_32px_0_rgba(31,38,135,0.12)] transition-all duration-300;
  }
}

body {
  background-color: #f8fafc;
  color: #0f172a;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
